<h2>Showing tracks for album: '{{name}}'</h2>
<div class='tracks'>
  {{#each tracks}}
    <div class='track'>
      <figure>
        <h3>{{name}}</h3>
        <audio controls src='{{preview_url}}'>Your browser does not support the
          <code>audio</code>
          element.</audio>
      </figure>
      <hr />
    </div>
  {{/each}}
</div>